/******************* color *******************/
$yellow: #FFEB60;
$purple: #A451F7;
$dark-purple: #542385;
$black: #333333;
$white: #FDFAF3;

/***************** font-size *****************/
$main-copy-size: 80px;
$sub-copy-size: 23px;

/******************* fonts *******************/
$default-font: 'Noto Serif KR', serif;
$godic-font: 'Noto Sans KR', sans-serif;
$slogan-font: "supilmyeongjo010";

@font-face {
    font-family: "supilmyeongjo010";
    src: url("../font/supilmyeongjo010.ttf") format('truetype');
}

/******************* mixin *******************/
@mixin setContainer($backgroundColor) {
    background-color: $backgroundColor;
    max-width: 100%;
    padding-left: 50px;
    overflow-x: hidden;
}
@mixin setBarBtn($backgroundColor, $color) {
    font-family: $godic-font;
    position: fixed;
    z-index: 99;
    top: 35px;
    width: 70px;
    height: 31px;
    border-radius: 50px;
    border: 1px solid $color;
    background-color: $backgroundColor;
    color: $color;
    font-weight: 900;
    outline: none;
    &:hover {
        cursor: pointer;
    }
}
@mixin setMainCopy($color) {
    position: relative;
    padding-top: 40px;
    font-size: $main-copy-size;
    font-weight: 900;
    color: $color;
}
@mixin setSubCopy($color) {
    position: relative;
    margin-top: 20px;
    font-size: $sub-copy-size;
}
@mixin setIntroBookMovement($width, $top, $left) {
    position: absolute;
    width: $width;
    top: $top;
    left: $left;
    opacity: 0;
}

@mixin setRotateBox($top, $right, $width, $height, $backgroundColor, $degree) {
    position: relative;
    top: $top;
    right: $right;
    width: $width;
    height: $height;
    background-color: $backgroundColor;
    transform: rotate($degree)
}
@mixin setSubscriptionWrapperHeadCopy($color) {
    * {
        font-family: $godic-font;
        font-size: 24px;
        font-weight: 300;
    }
    strong {
        font-size: 32px;
        font-weight: 900;
    }
    em {
        font-style: normal;
        text-decoration: line-through;
        color: $color;
    }
}
@mixin setFeeWrapBody() {
    margin-top: 20px;
    margin-left: 16px;
    dt {
        * {
            font-size: 14px;
            font-style: normal;
            font-family: $godic-font;
        }
        img {
            position: relative;
            top: 5px;
            padding-right: 2px;
        }
        strong {
            color: red;
        }
        padding-bottom: 4px;
        font-family: $godic-font;
        font-weight: 400;
        font-size: 12px;
    }
    dd {
        padding-left: 12px;
        font-family: $godic-font;
        font-weight: 200;
        font-size: 12px;
    }
}
@mixin setFeeWrapBtnBox() {
    position: relative;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin setSubscriptionWrapperBtn($backgroundColor, $color) {
    background-color: $backgroundColor;
    color: $color;
    font-family: $godic-font;
    font-weight: 400;
    border: none;
    border-radius: 50px;
    width: 83%;
    height: 40px;
    margin: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}
@mixin setDescription() {
    p {
        strong {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 900;
        }
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 500;
    }
    margin-bottom: 15px;
}
@mixin setSubscriptionFeeWrap() {
    border-radius: 5px;
    background-color: $white;
    width: 50%;
    * {
        color: black; 
    }
    span {
        font-size: 20px;
        font-family: $default-font;
        p {
            font-weight: 200;
        }
        em {
            font-family: $default-font;
            font-weight: 900;
        }
    }
}
@mixin setFeeWrapHeader($color) {
    border-radius: 5px 5px 0 0 ;
    padding: 16px 8px 16px 16px;
    min-height: 424px;
    background-color: $color;
}
@mixin setFeeWrapHeadCopy() {
    p {
        font-family: $godic-font;
    }
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
}

@mixin setGoSignUpButton($backgroundColor, $color) {
    display: none;
    position: fixed;
    bottom: 10px;
    width: 330px;
    height: 60px;
    border-radius: 50px;
    background-color: $backgroundColor;
    font-size: 17px;
    font-family: $godic-font;
    letter-spacing: -.2px;
    color: $color;
    border: none;
    outline: none;
    z-index: 10;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.2);
    &:hover {
        cursor: pointer;
    }
    b {
        font-family: $godic-font;
        text-decoration: none;
        color: $yellow;
    }
}

/***************** Keyframes *****************/

@keyframes moveCopies {
    0% {
        opacity: 0;
        top: -500px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

@keyframes moveIntroBooks {
    0% {
        opacity: 0;
        top: 15%;
    }
    100% {
        opacity: 1;
        top: 23%;
    }
}

@keyframes fontColorChange {
    from {
        color: black;
    }
    to {
        color: $purple;
    }
}

@keyframes genrePageGradientEffect {
    0% {
        height: 80px;
        background: linear-gradient(rgba(33,33,33,0.5), rgba(33,33,33,0.2));
        opacity: 1;
    }
    100% {
        height: 400px;
        background: $black;
        opacity: 0;
    }
}
/************ tag default setting ************/
* {
    margin: 0;
    padding: 0;
    font-family: $default-font;
    font-weight: 900;
    color: $black;
}

img {
    max-width: 100%;
    vertical-align: top;
}

/******************************************/
#pages-container {
    background-color: $yellow;
    min-width: 320px;
    height: auto;
}

#nav-bar {
    #nav-logo {
        position: fixed;
        top: 30px;
        left: 30px;
        width: 40px;
        height: 40px;
        background-size: 25px 25px;
        background-repeat: no-repeat;
        background-image: url("../img/subLogo.svg");
        object-fit: cover;
    }
    .go.login.btn {
        @include setBarBtn(transparent,$purple);
        right: 150px;
    }
    .go.fee-page.btn {
        @include setBarBtn($purple, transparent);
        color: $yellow;
        right: 30px;
        width: 105px;
        // background-repeat: no-repeat;
    }
}

.signup-button-box {
    display: flex;
    justify-content: center;
    .go-signup-button {
        @include setGoSignUpButton(black, white);
        &.book, 
        &.contents {
            @include setGoSignUpButton($purple, white);
        }
        &.subscribe {
            @include setGoSignUpButton($white, $dark-purple);
        }
    }
}

#intro-container {
    @include setContainer($yellow);
    min-height: 1300px;
    .logo {
        width: 80px;
        height: 26px;
        padding-top: 110px;
        background-repeat: no-repeat;
        img {
            height: 100%;
        }
    }

    .copy-wrap {
        position: relative;
        top: -500px;
        z-index: 1;
        opacity: 0;
        animation: moveCopies 1.5s ease-out 1.5s forwards;
        .main-copy {
            @include setMainCopy($black);
        }
        
        .sub-copy {
            @include setSubCopy($purple);
            strong {
                animation: fontColorChange 2s ease-out 2s forwards;
            }
        }
    }

    .img-wrap {
        position: relative;
        top: -30px;
        right: -30%;
        width: 70%;
        max-width: 967px;

        .book1-img {
            @include setIntroBookMovement(5%, 15%, 36%);
            animation: moveIntroBooks 2s ease-out forwards;
        }
        .book2-img {
            @include setIntroBookMovement(4%, 15%, 45%);
            animation: moveIntroBooks 2s ease-out 1s forwards;
        }
    }
}

#slogan-container {
    @include setContainer($yellow);
    margin-top: 60px;
    padding-left: 0px;
    min-height: 1300px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    .copy-and-logo-container {

        display: flex;
        z-index: 2;
        margin-bottom: 200px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .main-copy {
            position: relative;
            z-index: 11;
            padding-top: 130px;
            font-family: $slogan-font;
            font-size: 60px;
            font-weight: 300;
            letter-spacing: -5px;
            strong {
                font-family: $slogan-font;
                font-weight: 900;
                color: $purple;
            }
        }
    }
    .shelf-image1 {
        position: absolute;
        top: 50px;
        right: 0;
    }
    .shelf-image2 {
        position: absolute;
        top: 200px;
        left: 0;
    }
    .shelf-image3 {
        position: absolute;
        top: 350px;
        right: 150px;
    }

    .slogan-and-logo {
        position: absolute;
        width:150px;
        height:55px;
        bottom: 15%;
    }
}

#book-introduction-container {
    @include setContainer($yellow);
    padding-bottom: 100px;
    margin-top: 60px;
    min-height: 1024px;     
    .book-main-copy {
        @include setMainCopy($black);
        // font-size: $main-copy-size;
    }
    .book-sub-copy  {
        @include setSubCopy($purple);
    }
    .descriptions {
        margin-top: 30px;
    }
    .description {
        @include setDescription();
        position: relative;
        z-index: 99;
    }
    .books-img-wrap {
        display: flex;
        position: relative;
        width: 100%;
        right: -5%;
        align-items: flex-end;
        flex-wrap: wrap;
        margin-top: -10%;
        z-index: 1;
        opacity: 0.5;
        .books-wrap-book {
            display: relative;
            margin: 1%;
            min-width: 6%;
            width: 10%;
            height: auto;
            transition: all;
        }
        .show {
            display: relative;
            margin: 1%;
            min-width: 6%;
            width: 8%;
            height: auto;
            transform: translate(80px, 0);
        }
    }
}

#genre-introduction-container {
    @include setContainer($white);
    min-height: 1024px;
    transition: all 1s;
    &::before {
        overflow-x: hidden;
        position: absolute;
        display: block;
        left: -50px;
        content:'';
        width: 103%;
        background-color: $white;
    }
    &.black {
        &::before {
            overflow-x:hidden;
            position: absolute;
            display: block;
            left: -50px;
            content:'';
            width: 103%;
            animation: genrePageGradientEffect 0.7s ease-in-out;
        }
        background-color: $black;
        * {
            color: white;
        }
    }
    .genre-main-copy {
        @include setMainCopy($black);
    }
    .genre-sub-copy {
        @include setSubCopy($purple);
    }
    .descriptions {
        margin-top: 30px;
    }
    .description {
        @include setDescription();
    }
    .rotated-box-wrapper {
        position: relative;
        top: -170px;
        left: -5%;
    }
    .rotated-box {
        &:nth-child(1) {
            @include setRotateBox(-20px, 100px, 35px, 35px, $yellow, 10deg);
        }
        &:nth-child(2) {
            @include setRotateBox(0, 50px, 50px, 50px, #EDD943, 30deg);
            z-index: 2;
        }
        &:nth-child(3) {
            @include setRotateBox(-20px, 0px, 60px, 60px, $purple, 20deg);
        }
        &:nth-child(4) {
            @include setRotateBox(-40px, -100px, 60px, 60px, $white, 10deg);
        }
        &:nth-child(5) {
            @include setRotateBox(-20px, -120px, 20px, 20px, #57CAF0, 60deg);
            z-index: 1;
        }
        &:nth-child(6) {
            @include setRotateBox(-25px, -140px, 50px, 50px, #EDD943, 30deg);
        }
        &:nth-child(7) {
            @include setRotateBox(-10px, -300px, 35px, 35px, $dark-purple, 40deg);
            z-index: 1;
        }
    }
}

#contents-introduction-container {
    @include setContainer($white);
    min-height: 1024px;
    .contents-main-copy {
        @include setMainCopy($black);
    }
    .contents-sub-copy {
        @include setSubCopy($purple);
    }
    .descriptions {
        margin-top: 30px;
    }
    .description {
        @include setDescription();
    }
    .contents-img-box {
        margin-top: 0;
        position: relative;
        z-index: 1;
        top: -500px;
        right: -35%;
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        .content {
            width: 45%;
            background-repeat: no-repeat;
            background-size: contain;
            .content-first-model {
                position: absolute;
                z-index: 1;
                left: -2%;
                bottom: 4%;
                width: 25%;
            }
            .content-first-btn {
                position: absolute;
                z-index: 2;
                left: -55%;
                right: 0;
                bottom: 14%;
                margin: auto;
                width: 40%;
            }
        }
    }
}


#subscribe-option-introduction-container {
    @include setContainer($dark-purple);
    min-height: 2000px;
    * {
        color: white;
    }
    .main-copy {
        @include setMainCopy($white);
    }
    .sub-copy {
        @include setSubCopy($yellow);
    }
    .descriptions {
        margin-top: 30px;
    }
    .description {
        @include setDescription()
    }
    .presents-wrapper {
        // width: 50%;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 10%;
        .present {
            width: 400px;
            height: 400px;
        }
    }
    .present-box {
        width: 400px;
        height: 400px;
        display: flex;
        justify-content: center;
        position: absolute;
        top: -40%;
        .head {
            top: -60%;
            width: 255px;
            height: 128px;
            z-index: 1;
        }
        .body {
            width: 225px;
            height: 222px;
        }
    }
    .original-logo {
        display: inline;
        position: relative;
        top: 300px;
        left: 55px;
    }
}

#fee-introduction-container {
    * {
        color: $white;
        list-style: none;
    }
    padding-top: 60px;
    padding-left: 50px;
    min-height: 1024px;
    background-color: $black;

    .fee-sub-copy {
        @include setSubCopy($white);
    }
    .fee-main-copy {
        @include setMainCopy($white);
        font-size: 50px;
    }
    .fee-description-wraps {
        position: relative;
        bottom: 50px;
        display: flex;
        flex-direction: row;
        width: calc(50% - 4px);
        position: relative;
        left: 40%;
        div + div {
            margin-left: 4px;
        }
    }
    .ebook-subscription-fee-wrap {
        @include setSubscriptionFeeWrap();
        .fee-wrap-header {
            @include setFeeWrapHeader($yellow);
        }
        .fee-wrap-head-copy {
            @include setFeeWrapHeadCopy()
        }
        .fee {
            @include setSubscriptionWrapperHeadCopy(#A69B4D);
        }
        .fee-wrap-body {
            @include setFeeWrapBody();
            padding-bottom: 150px;
        }
        .fee-wrap-btn-box {
            @include setFeeWrapBtnBox();
            .month-subscribe-btn {
                @include setSubscriptionWrapperBtn($yellow, black);
            }
            .year-subscribe-btn {
                @include setSubscriptionWrapperBtn(#FFC004, black);
            }
        }
    }
    .paper-subscription-fee-wrap {
        @include setSubscriptionFeeWrap();
        .fee-wrap-header {
            @include setFeeWrapHeader(#6A31A4);
            * {
                color: white;
            }
        }
        .fee-wrap-head-copy {
            @include setFeeWrapHeadCopy();
        }
        .fee {
            @include setSubscriptionWrapperHeadCopy(#c5c5c5);
        }
        .fee-wrap-body {
            @include setFeeWrapBody();
            padding-bottom: 100px;
        }
        .fee-wrap-btn-box {
            @include setFeeWrapBtnBox();
            .month-subscribe-btn {
                @include setSubscriptionWrapperBtn(#A87DDF,white );
            }
            .year-subscribe-btn {
                @include setSubscriptionWrapperBtn(#6A31A4, white);
            }
        }
    }
}